@import sass/variables.sass
@import sass/mixins.sass
@import "bootstrap/scss/mixins/_grid.scss"

.recently-projects
	padding: 105px 0

	&__title
		margin-bottom: 120px

	&__row
		+make-row()
		margin-left: -50px
		margin-right: -50px

	&__col
		+make-col(6)
		padding-left: 50px
		padding-right: 50px

		&--offset
			display: flex
			justify-content: flex-end
			.project-item
				// margin-left: 148px
	
	&__bottom
		text-align: center
		margin-top: 40px
	
	&__btn
		.icon
			fill: $c1
			margin-right: 10px
			transform: rotate(90deg)
		&:hover,
		&:focus
			.icon
				transform: rotate(90deg) translateX(4px)






////////// project-item
.project-item
	position: relative
	max-width: 455px
	margin-left: 135px
	margin-bottom: 84px
	transform-style: preserve-3d
	transform: perspective(1000px)
	z-index: 1
	&__img
		position: relative
		width: 100%
		width: 455px
		height: 256px
		background: $c2
		overflow: hidden
		z-index: 1
		&:after
			content: 'Loading ...'
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			display: flex
			align-items: center
			justify-content: center
			opacity: .5
			z-index: -1
		&:before
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background-image: linear-gradient(65deg,rgba(16,9,27,.8), transparent 50%)
			z-index: 1
		img
			display: block
			opacity: 0
			transition: all .4s ease
	
	.js-tilt-glare
		z-index: 2

	&__info
		position: absolute
		top: 0
		left: -100px
		width: 100%
		height: 100%
		display: flex
		flex-direction: column
		justify-content: center
		align-items: flex-start
		z-index: 2

	&__title
		position: relative
		margin: 0 0 10px -17px
		transform: translateZ(20px) scale(0.9)
		transform-style: preserve-3d
		span
			transform: translateZ(40px) scale(0.9)
	&__index
		position: absolute
		top: -38px
		left: -30px
		font-size: 64px
		line-height: 82px
		font-weight: 900
		color: $c2
		opacity: 0.5
		z-index: -1
		transform: translateZ(-20px) scale(1.1)

	&__tools
		display: flex
		margin-bottom: 21px
		transform: translateZ(15px) translateX(-9px) scale(0.9)
	&__tool-item
		color: $c2
		margin-right: 10px

	&__btn
		transform: translateZ(15px) translateX(0) scale(0.9)
		.icon
			fill: $c1