@import ../../sass/variables.sass
@import ../../sass/mixins.sass


////////// Cursor
*
	cursor: none !important

.cursor
	position: fixed
	top: -17.5px
	left: -17.5px
	width: 35px
	height: 35px
	display: flex
	align-items: center
	justify-content: center
	mix-blend-mode: difference
	pointer-events: none
	z-index: 100
	&__circle
		width: 100%
		height: 100%
		border-radius: 50%
		border: 2px solid $c5
		transition: all .5s ease

// .cursor
// 	&__dot
// 		position: fixed
// 		top: -4px
// 		left: -4px
// 		width: 8px
// 		height: 8px
// 		border-radius: 50%
// 		background: $c5
// 		z-index: 100
// 	&__circle
// 		position: fixed
// 		top: -15px
// 		left: -15px
// 		width: 40px
// 		height: 40px
// 		border-radius: 50%
// 		border: 2px solid $c5
// 		mix-blend-mode: difference
// 		transition: transform .05s linear
// 		pointer-events: none
// 		z-index: 100